enabled_backends = ["arch", "mise", "npm", "yarn"]

hostname_groups_enabled = true

[arch]
package_manager = "paru"

[hostname_groups]
"declarch-pc" = [
    "base",
    "utils",
    "intel",
    "nvidia",
    "core-graphics",
    "fonts",
    "audio",
    "hypr",
    "apps",
    "cli",
    "containers",
    "development",
    "network",
    "printing",
    "themes",
    "pc-network",
{{ range .optional_metapac_groups -}}
    {{ printf "%q" . }},
{{ end -}}
]
"declarch-laptop" = [
    "base",
    "utils",
    "intel",
    "laptop",
    "core-graphics",
    "fonts",
    "audio",
    "hypr",
    "apps",
    "cli",
    "containers",
    "development",
    "network",
    "printing",
    "themes",
{{ range .optional_metapac_groups -}}
    {{ printf "%q" . }},
{{ end -}}
]
